.crabs{
    background-color: rgb(104, 81, 81);
    border: 2px solid red ;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    width: 40%;
    text-align: center;
    margin-top: 50px;
    
}
.crabs> h1{
    font-weight: bold;
    font-size: 29px;
    letter-spacing: 2px;
    text-shadow: -3px 5px 5px rgba(160, 0, 0, 0.5);
}
.login-form > div {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

.login-btn{
    font-size: 16px;
    padding: 8px 140px;
    border-radius: 8px;
    height: 40px;
    border: none;
    background-color: burlywood;
    margin-bottom: 40px;
}

div> label{
    font-size: 20px;
    font-weight: bold;
}