{% extends "layout.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/kaistyle.css' %}">
    
    <main class='origin'>
        <div class='bens'>
            
            <img src="{% static 'images/unnamed.png' %}" alt="">
            <h4>Dragon Tamer</h4>
            <div class ='liset'>
                    <button>Home</button>
                    <button>Work</button>
                    <button>Support</button>
                    <button>Setting</button>
                    <button>Sign Out</button>
            </div>
        </div>

        <div class='second'>
            <div>
                <h2>About</h2>
                <hr>

            </div>

            <div>
                <h1>Recent Projectsa</h1>
            </div>
        </div>
    </main>
{% endblock content %}

    
</body>
</html>